---
layout: default
---

<h2>{{ page.title }}</h2>

{% include page-intro.html %}

{{ content }}

<section>

  <ul>
    {% for post in paginator.posts %}
    {% assign author = site.data.authors[post.author] %}
      <li>
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        <time datetime="{{ post.date }}">
          <small>
            <strong>{{ post.date | date_to_string }}</strong>
            {% if author %}
              by {{ author.name }}
            {% endif %}
          </small>
        </time>
        <br>
        {{ post.intro_paragraph | strip_newlines | truncate: 180 }}
      </li>
      <br>
      <hr class="solid">
      <br>
    {% endfor %}
  </ul>

</section>

<!-- {% for post in paginator.posts %}
<li>
  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

  <h2>
    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
  </h2>
</li>
{% endfor %}
</ul> -->

<!-- 
Showing buttons to move to the next and to the previous list of posts (pager buttons).
-->
{% if paginator.total_pages > 1 %}
  <ul class="pager">
  {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
  {% endif %}
  {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
  {% endif %}
  </ul>
{% endif %}